@CHARSET "UTF-8";

#box{
	padding:50px;
	position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	text-align: center;
	background-color: white;
}

body{
	background-color: #e8f0f5;
	font-family: 'PT Sans', sans-serif;
	font-weight:300;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'PT Sans', sans-serif;
}
